<div class="container">
    <div class="row my-3">
        <div class="col-md-6 p-0">
            <div class="mr-md-2">
                <div class="border-box mat-elevation-z8">
                    <app-pie-chart [graphData]="usersData | dataFilter:'lat':'lng'"></app-pie-chart>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-0 right-section">
            <div class="mb-3 mt-3 mt-md-0 ml-md-2">
                <div class="border-box py-lg-2 mat-elevation-z8">
                    <app-percentage-box [usersCount]="usersData"></app-percentage-box>
                </div>
            </div>
            <div class="mt-3 mt-md-0 ml-md-2">
                <div class="border-box mat-elevation-z8 ">
                    <app-profile></app-profile>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-0">
            <app-data-table
                [usersData]="usersData | dataFilter:'name':'userName':'city':'pincode':'companyName'">
            </app-data-table>
        </div>
    </div>
</div>
